alias aliases='bat ~/.bash_aliases && echo "───── local ─────" && bat ~/.local/.bash_aliases 2>/dev/null'

# git alias
alias gcam='ga . && git commit -am'
alias gcan!='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit -v -a --no-edit --amend'
alias gcangpf!='gcan! && gpf!'
alias gco='g checkout $(gb | fzf)'
alias gcor='g checkout --track $(gbr | fzf)'
alias gfa='g fetch --all'
alias gfap='g fetch --all --prune'
alias ghdi='gi && gh rcd && gpsup && gh rvw'
alias ghi='gi && gh rc && gpsup && gh rvw'
alias gi='git init && git add . && git commit -m "Initial commit"'
alias gim='git init -b master && git add . && git commit -m "Initial commit"'
alias gitalias='alias | grep git | fzf'
alias gpe='gp && exit'
alias grbiom='grbi origin/master'
alias grbom='grb origin/master'
alias gwipe='gwip && exit'
alias gwipgp='gwip && gp'
alias gwipgpe='gwip && gpe'
alias hk='gcam housekeeping && gp'

# common alias
alias ipp='curl https://ipecho.net/plain; echo'
alias sbtd='sbt -jvm-debug 5005'
alias sbtnoss='sbt --supershell=false'
alias scalac-phases='scalac -Xshow-phases'
alias scalalines='find . -path "*/src*" -name "*.scala" | xargs wc -l | sort -n'
alias update='sudo apt update && sudo apt -y full-upgrade && sudo apt -y autoremove && cs update'
alias mkdir='mkdir -p'
alias rm='rm -rf'
alias cp='cp -r'
alias mv='mv -i'
alias dl="\cd $HOME/Downloads"
alias dc="\cd $HOME/Documents"
alias vim=nvim
alias re="source ~/.zshrc"
